/*  background  */
#rbx-body {
	background: var(--rk-background, rgb(35,37,39));
	background-size: var(--rk-background-image-size);
}


/*menus*/
#header,
#navigation,
#footer-container {
	background: var(--rk-menu-background);
	background-size: var(--rk-menu-background-image-size);
	
	border-radius: var(--rk-menu-corners-radius, 0px);

	border-color: var(--rk-menu-borders-color);
	border-style: var(--rk-menu-borders-style);
	border-width: var(--rk-menu-borders-size);

	backdrop-filter: var(--rk-menu-backdrop-filter);
	box-shadow: var(--rk-menu-box-shadow);
}

#header {
	/* border-radius: 0 0 16px 16px; */
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	box-sizing: content-box;
}
#navigation {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
	border-top-width: 0;
	border-bottom: 0;
	box-sizing: content-box;
}
#footer-container {
	/* border-radius: 60px 60px 0 0; */
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

#navigation > div {height: calc(100% - 60px);}
#rk-desktopapp:hover > span {color: #f22;}


/* Fix error message peaking under navbar */
html .alert-system-feedback .alert {
	/* top: -25%; */
	transform: translate(0, -200%);
}

:root .icon-logo {
	border-radius: 8px;

	background-color: var(--rk-icon-background-color);
	background-repeat: var(--rk-icon-background-image-repeat);
	background-size: var(--rk-icon-background-image-size, 118px 30px);
	/* background-size: 118px 30px; */
}
:root .icon-logo-r {
	border-radius: 8px;

	background-color: var(--rk-icon-r-background-color);
	background-repeat: var(--rk-icon-r-background-image-repeat);
	background-size: var(--rk-icon-r-background-image-size, 30px 30px);
	/* background-size: 30px 30px; */
}


/*content*/
#container-main > div.content {

	border-radius: var(--rk-content-corners-radius, 20px);

	border-color: var(--rk-content-borders-color);
	border-style: var(--rk-content-borders-style);
	border-width: var(--rk-content-borders-size);

	background: var(--rk-content-background);
	background-size: var(--rk-content-background-image-size);

	backdrop-filter: var(--rk-content-backdrop-filter);
	box-shadow: var(--rk-content-box-shadow);


	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20px;
	padding: 3% 4%;
	flex-wrap: wrap;
	width: fit-content;
}

.rk-page-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
.rk-page-background.rk-blurred {
	filter: brightness(0.5) blur(15px);
	transform: scale(1.05);
}

/*disable ads*/
.abp {display: none;}

/*quick join button*/
a.game-card-link > a.rk-quickgamejoin {
	transition: transform 400ms;
	transition-timing-function: cubic-bezier(0.21, 1.46, 0.99, 0.99);
}
a.game-card-link:hover > a.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(5deg));
}


a.game-card-link:hover > a.rk-btn-r0.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(0deg));
}

a.game-card-link:hover > a.rk-btn-r1.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(3deg));
}
a.game-card-link:hover > a.rk-btn-r2.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(6deg));
}
a.game-card-link:hover > a.rk-btn-r3.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(9deg));
}
a.game-card-link:hover > a.rk-btn-r4.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(12deg));
}
a.game-card-link:hover > a.rk-btn-r5.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(15deg));
}

a.game-card-link:hover > a.rk-btn-r-1.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(-3deg));
}
a.game-card-link:hover > a.rk-btn-r-2.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(-6deg));
}
a.game-card-link:hover > a.rk-btn-r-3.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(-9deg));
}
a.game-card-link:hover > a.rk-btn-r-4.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(-12deg));
}
a.game-card-link:hover > a.rk-btn-r-5.rk-quickgamejoin {
	transform: var(--rk-basic-animations, scale(1.12) rotate(-15deg));
}

/*remove error backgrounds*/
#container-main > div.content > div.request-error-page-content > div.default-error-page {
	background-color: transparent;
}

#navigation::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 20px 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0,0,0,0.4); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(0,0,0,0.8); 
}

table.table.table-striped {
	border-radius: 10px;
}
.dark-theme table.table.table-striped {
	background: hsl(210deg 5% 15% / 30%);
}
.light-theme table.table.table-striped {
	background: hsl(200deg 13% 95% / 30%);
}

table.table.table-striped>tbody>tr:nth-child(2n)>td, table.table.table-striped>tbody>tr:nth-child(2n)>th {
	background:rgba(0,0,0,0);
}






/* Popup System */
.ps-background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.avatar-container img:not(.avatar-card-image),
div.avatar .avatar-card-image > span.thumbnail-2d-container,
body#rbx-body .icon-placeholder-avatar-headshot {
	background: none;
}

/* bypass default transparency from home.css */
div.section-content.people-list div.avatar .avatar-card-image,
body#rbx-body .avatar .avatar-card-image,

.avatar .avatar-card-image {
	background: var(--rk-avatar-background);
	background-size: var(--rk-avatar-background-image-size);
	
	border-radius: var(--rk-avatar-corners-radius, 50%);

	border-color: var(--rk-avatar-borders-color);
	border-style: var(--rk-avatar-borders-style);
	border-width: var(--rk-avatar-borders-size);

	backdrop-filter: var(--rk-avatar-backdrop-filter);
	box-shadow: var(--rk-avatar-box-shadow);
}