#container-main > div.content {
	width: 90%;
}

#header .container-fluid ul.nav.rbx-navbar li a {
	width: auto;
}
.rbx-header .navbar-brand {
	height: auto;
}

#avatar-web-app {
	width: 100%;
}

#horizontal-tabs,
#avatar-react-container button.rbx-tab-heading,
#avatar-web-app > div > div > div.right-panel.six-column > div.right-wrapper-placeholder.right-wrapper-placeholder-six-column > div:before,

#avatar-web-app div.rbx-tabs-horizontal.rbx-tabs-horizontal-six-column > ul#horizontal-tabs > li.rbx-tab.six-tab > a,
#avatar-react-container .recommendations-container,

#avatar-items-container .section-content-off {
	background-color: transparent;
}

#recent-items-container > div.items-list.avatar-item-list > ul > li {
	width: fit-content;
}

#avatar-web-app div[avatar-back] > div.avatar-back {
	/* background */
	background: var(--rk-avatareditor-background);
	background-size: var(--rk-avatareditor-background-image-size);
	
	/* Border Radius */
	border-radius: var(--rk-avatareditor-corners-radius, 12px);

	/* Borders */
	border-color: var(--rk-avatareditor-borders-color);
	border-style: var(--rk-avatareditor-borders-style);
	border-width: var(--rk-avatareditor-borders-size);

	backdrop-filter: var(--rk-avatareditor-backdrop-filter);
	box-shadow: var(--rk-avatareditor-box-shadow);
}