#container-main > div.content {
	width: auto;
}
#catalog-react-container,
#item-details-container {
	width: 100%;
}

#results {
	margin-top: 60px;
}

#catalog-react-container .sticky .catalog-header {
	padding: 6px;
    border-radius: 8px;
}

#rbx-body #catalog-react-container .sticky .search-bars {
	padding-top: 8px;
}

/* catalog */
#rbx-body #catalog-react-container .sticky .search-bars,
#rbx-body #catalog-react-container .sticky .topic-container,

/* item page */
#item-details-container item-details > .content,
#populated-item-list {
	background-color: transparent;
}