#container-main > div.content {
	width: auto;
}
#catalog-react-container {
	width: 100%;
}

#results {
	margin-top: 60px;
}

#catalog-react-container .sticky .catalog-header {
	padding: 6px;
    border-radius: 8px;
}

#rbx-body #catalog-react-container .sticky .search-bars {
	padding-top: 8px;
}
#rbx-body #catalog-react-container .sticky .search-bars,
#rbx-body #catalog-react-container .sticky .topic-container {
	background-color: transparent;
}