/*content*/
#container-main > div.content {
	width: calc(100% - 20px);
}

@media (min-width: 1688px) {
	#container-main > div.content {
		max-width: calc(100% - var(--rbx-menu-width, 155px) - 30px);
	}
}

#games-carousel-page,
#games-search-page {
	width: 100%;
}

.horizontally-scrollable {
	height: auto;
}

.horizontal-scroller .scroller[role="button"] {
	border-radius: 8px;
	opacity: 0.8;

	height: 100%;
}

.scroller.next[role="button"] {
	right: -40px;
}

.scroller.prev[role="button"] {
	left: -40px;
}

#randomGameButton {
	right: 100px !important;
}

.game-cards .game-card.rk-has-quickjoinbtn {
	min-height: 250px;
}

.rbx-body .container-header {
	margin-top: 1rem;
}

.rbx-body .game-grid.home-game-grid.expand-home-content {
	padding: 8px;
}

.rbx-body .game-grid.expand-home-content {
	grid-column-gap: 4px;
	grid-row-gap: 0px;
	justify-content: space-evenly;
}