/*content*/
#container-main > div.content {
	width: 90%;
}

#user-account {
	width: 100%;
}

#vertical-menu,
#vertical-menu > li.menu-option > a,
div.section .section-content {
	background-color: transparent;
}

#vertical-menu,
div.section .section-content:not(.remove-panel) {
	border-style: solid;
	border-width: 0 1px 1px 0;
    border-radius: 16px;
}

#vertical-menu > li.menu-option:first-child,
#vertical-menu > li.menu-option:first-child > a {
	border-top-left-radius: 16px;
}
#vertical-menu > li.menu-option:last-child,
#vertical-menu > li.menu-option:last-child > a {
	border-bottom-left-radius: 16px;
}