#navigation {
	height: fit-content;
	max-height: 90%;
	overflow-y: auto;
	padding-bottom: 5px;
	margin: 1%;
}

#header,
#navigation,
#footer-container {
	border-color: var(--rk-menu-borders-color);
	border-style: var(--rk-menu-borders-style);
	border-width: var(--rk-menu-borders-size);
}

#header {
	border-radius: var(--rk-menu-corners-radius, 16px);
	/* border-radius: 0 0 16px 16px; */
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
#footer-container {
	border-radius: var(--rk-menu-corners-radius, 60px);
	/* border-radius: 60px 60px 0 0; */
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

#navigation {
	border-radius: var(--rk-menu-corners-radius, 20px);
}

.rbx-left-col .rbx-scrollbar li.rbx-upgrade-now .btn-secondary-md {
	border-radius: calc(var(--rk-menu-corner-radius, 20px) / 2);
}

.rbx-left-col .rbx-scrollbar li.rbx-upgrade-now:last-child {
	margin-bottom: 7px;
}

@media (max-width: 1750px) {
	body .no-gutter-ads .rbx-left-col:not(.nav-show), body .rbx-left-col:not(.nav-show) {
		display: none;
	}
	body .no-gutter-ads.logged-in .content {
		margin: 0 auto;
	}
}
@media (min-width: 1688px) {
	.menufloat-spacing #container-main > div.content {
		margin-left: calc(2% + 175px);
		max-width: calc(97% - 175px);
	}
}