.rbx-header .rbx-navbar-header {
	flex-shrink: 0;
}

#header .container-fluid ul.nav.rbx-navbar {
	display: none;
}

#right-navigation-header {
	width: 100%;
	justify-content: space-between;
}
#right-navigation-header:before {
	content: "";
}

#right-navigation-header > div.navbar-search {
	margin: 0;
	width: 25%;
	left: 50%;
    transform: translateX(-50%);
    position: absolute;
}