/* General */

.section-content {
    border-radius: 20px;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}

input.rk-textfield {
    border-radius: 8px;
    height: auto;
}

span.rk-button {
    float: right;margin: -1px 0 0 0;
}



/* Loader / Page */

.left-navigation > div {
    text-align: center;
    margin: 0 10px 8px 10px;
    border: 3px solid gray;
    padding: 2px 0;
    font-weight: 600;
    border-radius: 20px;
}

.left-navigation > .menu-vertical {
    border-radius: 10px;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    margin: 0 0 12px 0;
}

.left-navigation > .menu-vertical > .menu-option {
    border-radius: 0 0 0 0;
}

.left-navigation > .menu-vertical > .menu-option:first-child {
    border-radius: 10px 0 0 0px;
}

.left-navigation > .menu-vertical > .menu-option:last-child {
    border-radius: 0 0 0 10px;
}

#rkpage > h3,
#pageloadplace > h3,
#rk-themesection > h3 {
    width: fit-content;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    padding: 0 12px;
    margin: 0 0 10px 0;
}

#rkpage > button.main-save-button,
#pageloadplace > button.main-save-button {
    float: right;
    color: lime;
    background-color: transparent;
    width: 80px;
    font-size: 20px;
    border: 2px dashed lime;
    border-radius: 20px;
    margin: -40px 0px 10px;
}

#rkpage > button.main-save-button:hover,
#pageloadplace > button.main-save-button:hover {
    background-color: rgb(128 128 128 / 40%);
    border: 2px solid lime;
}



/* About */

#rkpage table.features-table td.text-lead {
    padding: 10px 0;
    text-align: center;
}



/* Designer / Themes */

.default-theme-template,
.theme-template {
    background-color: rgb(17.5, 18.5, 19.5, 0.4);
    border-radius: 20px;
    padding: calc(1% + 5px) calc(2% + 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(1% + 5px);
}

.default-theme-template > button,
.theme-template > button {
    font-weight: 500;
    border: 0;
    padding: 1% 3%;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 1%;
}

.default-theme-template > button {
    background-color: rgb(57 59 61);
    color: white;
}

.default-theme-template > div > div,
.theme-template > div > div {
    ont-size: 12px;
    font-weight: 600;
}

.default-theme-template > div > span,
.theme-template > div > span {
    font-size: 8px;
    color: rgb(255 255 255 / 60%);
    font-weight: 400;
    display: block;
    line-height: normal;
}


#rk-deletethemesection .rk-popup,
#rk-createthemesection .rk-popup {
    padding: calc(0.5% + 10px) calc(3% + 10px) calc(1% + 10px);
}

#rk-deletethemesection .rk-popup > div > button#deletetheme-button {
    background-color: rgb(184 59 61);
    color: rgb(35 37 39);
}

#rk-createthemesection .rk-popup > input:not([type="file"]) {
    margin-bottom: 6px;
}

#rk-createthemesection .rk-popup > input:[type="file"] {
    margin-bottom: 2px;
    width: 0px;
    height: 0px;
}

#rk-createthemesection .rk-popup > label {
    margin-bottom: 6px;
    width: 210.4px;
    border-radius: 2px;
    text-align: center;
    background: rgb(21 21 24);
    border-top: 2px solid rgb(6 6 7);
    border-left: 2px solid rgb(6 6 7);
    border-bottom: 1px solid rgb(17 18 21);
    border-right: 1px solid rgb(17 18 21);
    font-size: 14px;
}

.light-theme #rk-createthemesection .rk-popup > label {
    background: rgba(0,0,0,.1);
    border-top: 2px solid rgba(0,0,0,.1);
    border-left: 2px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
}

#rk-deletethemesection .rk-popup > div.info,
#rk-createthemesection .rk-popup > div.info {
    margin-bottom: 10px;
    color: rgb(255 0 0);
    font-weight: 500;
}

#rk-deletethemesection .rk-popup > div > button,
#rk-createthemesection .rk-popup > div > button {
    background-color: rgb(57 59 61);
    border: 0;
}

#rk-createthemesection .rk-popup > div > button.rk-createbtn {
    background-color: rgb(57 184 61);
    color: rgb(35 37 39);
}

#rk-createthemesection > div.rk-popup > div:not(.info) > button:not(.rk-createbtn),
#rk-deletethemesection > div.rk-popup > div:not(.info) > button:not(#deletetheme-button),
#deletetheme-themename {
    color: white;
}

.light-theme #deletetheme-themename {
    color: black;
}